<style>


</style>
<h1 id="hero-text">Vocal Shell Chat Room</h1>

     <h3 id="ontop">Vocal Feed </h3>
      <%= link_to 'signin', user_session_path %>
<% if session[:user_id]!= nil%>
  <%= link_to 'signin', user_session_path %>


    <% else %>

    <%= form_for(@post) do |f|%>
<%= f.label :title, "Title"%>
<%= f.text_field :title %><br>
<%= f.label :status, "status"%>
<%= f.text_field :status %><br>
<%= f.label :uploads %>
<%= f.file_field :uploads, multiple: true %>
<%= f.submit "Post it!"%>
<% end %>
   

 
  <% end %>







<%= link_to 'Log Out', destroy_user_session_path, method: :DELETE %>







